@import "tailwindcss";

:root {
  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-dm-sans);
}

body {
  font-family: var(--font-primary), sans-serif;
}

@theme {
  --color-white: #fff;
  --color-black: #000;
  --color-steelEclipse: #1f2937;
  --color-walnutBrown: #513a2b;
  --color-terracottaRoot: #76543f;
}

@layer base {
  html {
    --color-text-default: #1f2937;
    --color-bg-default: #ffffff;
    color: var(--color-text-default);
    background-color: var(--color-bg-default);
  }

  @media (prefers-color-scheme: dark) {
    html {
      --color-text-default: #ffffff;
      --color-bg-default: #000000;
    }
  }
}
